html,
body {
  /* variables */
  --white: whitesmoke;
  --blue: hsl(200deg, 90%, 20%);
  --orange: #f09056;
  --green: #d0f0c0;
  /* other */
  background: #d0f0c0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif */

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

textarea {
  outline: none;
}
