.container {
  --circle-size: 23rem;
  --circle-children: 6;
  --child-size: 5em;
  --circle-revolution: 30s;
  --angle: calc(360deg / var(--circle-children));
}

.body {
}

.main {
  height: 100vh;
  margin: 2rem;
}

.name {
  color: var(--blue);
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
}
.title {
  color: var(--orange);
  font-size: 2rem;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
.circle {
  position: relative;
  height: var(--circle-size);
  width: var(--circle-size);
  border-radius: 50%;
  background: var(--white);
  /* transform: rotate(270deg); */
}
.circle > .item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 5rem);
  left: calc(50% - 5rem);
  height: var(--child-size);
  width: var(--child-size);
  margin: calc(var(--child-size) / 2);
  border-radius: 50%;
  color: var(--white);
  background: var(--blue);
}
.item:nth-of-type(1) {
  transform: rotate(240deg) translate(calc(var(--circle-size) / 2))
    rotate(-240deg);
}
.item:nth-of-type(2) {
  transform: rotate(300deg) translate(calc(var(--circle-size) / 2))
    rotate(-300deg);
}
.item:nth-of-type(3) {
  transform: rotate(180deg) translate(calc(var(--circle-size) / 2))
    rotate(-180deg);
}
.item:nth-child(4) {
  transform: translate(calc(var(--circle-size) / 2));
}
.item:nth-child(5) {
  transform: rotate(120deg) translate(calc(var(--circle-size) / 2))
    rotate(-120deg);
}
.item:nth-child(6) {
  transform: rotate(60deg) translate(calc(var(--circle-size) / 2))
    rotate(-60deg);
}

/* circle animation */
/* .circle {
  transform: rotate(0deg);
  animation: circle-rotate var(--circle-revolution) linear infinite both;
}
@keyframes circle-rotate {
  to {
    transform: rotate(360, -360);
  }
} */

.contact {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0.1rem 0.3rem 1rem var(--blue);
}
.contact:hover {
  cursor: pointer;
  transform: translate(0, -0.5rem);
  box-shadow: 0.1rem 0.5rem 1rem var(--blue);
}
